DD_SERVICE=ddstore-api
DD_ENV=demo
DD_VERSION=1.0.0
DD_TRACE_AGENT_URL=http://localhost:8126
DD_LOGS_INJECTION=true
DD_RUNTIME_METRICS_ENABLED=true
DD_PROFILING_ENABLED=true
DATABASE_URL=postgresql://ddstore_app:your-password@localhost:5432/ddstore
